extends layout_test
block content
    style.
        div.ex1 {
            background-color: lightblue;
            width: 700px;
            height: 400px;
            overflow: scroll;
        }

    div.container
        div.d-flex
            h3.mr-auto#title=title
            a.btn.btn-primary(href='/solutions/question/add' style='') Add New Question

        div.row
            each que,index in question_list
                div.col-sm-6.ex1
                    .card.mb-3
                        h3.bg-dark.text-white(style="width:30px;padding:5px") #{index+1}
                        each img in que.images
                            img.card-img-top(src=img.url alt=que.name)
                            .card-img-overlay

                                //span
                                //    if que.answers.length ||que.refers.length
                                a.btn.btn-success(href=que.url) Answer
                                //    eles
                                //        a.btn.btn-danger(href=que.url) Answer

                        .card-body
                            h5.card-title=que.name
                            p.card-text #{que.description}
                            p.card-text
                                small.text-muted Last updated 3 mins ago
                            a.btn.btn-primary(href=que.url) Answer

            else
                li Currently No Questioons
